:root {
	--header-height: 48px;
}

.header-placeholder {
	height: var(--header-height);
}

.header {
	position: fixed;
	top: 0;
	height: var(--header-height);
	color: white;
	background: linear-gradient(to bottom right, var(--indigo) 30%, var(--blue) 100%);
	box-shadow: 0 0 5px rgba(black, .5);
	backdrop-filter: blur(10px);
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: $spacer-s $spacer-xl;

	@media only screen and (max-width: $mobile-width-breakpoint) {
		justify-content: start;
	}
}

.header-logo {
	font-family: "Lobster", cursive;
	font-size: 24px;
}

.header-actions {
	font-weight: 500;
	position: absolute;
	right: $spacer-xl;
}

.page {
	display: flex;
	justify-content: center;
}

.content {
	max-width: calc(80ch + $spacer-m * 2);
	padding: $spacer-m;
}

.page-title {
	font-weight: 500;
	text-align: center;

	@media only screen and (max-width: $mobile-width-breakpoint) {
		text-align: start;
		margin-left: $spacer-s;
	}
}
