:root {
	--header-height: 48px;
}

.header-placeholder {
	height: var(--header-height);
}

.header {
	position: fixed;
	top: 0;
	height: var(--header-height);
	color: white;
	background: linear-gradient(to bottom right, var(--indigo) 30%, var(--blue) 100%);
	box-shadow: 0 0 5px rgba(black, .5);
	backdrop-filter: blur(10px);
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: $spacer-s $spacer-s;
}

.header-logo {
	font-family: "Lobster", cursive;
	font-size: 24px;
}

.page {
	display: flex;
	justify-content: center;
}

.content {
	margin-top: $spacer-xxxl;
	max-width: calc(80ch + $spacer-m * 2);
	padding: $spacer-m;
}

.page-title {
	text-align: center;
}
