h1, h2, h3, h4, h5, h6 {
	//font-weight: 500;
}

h1 {
	font-size: $font-size-xl;
}

h2 {
	font-size: $font-size-l2;
}

h3 {
	font-size: $font-size-l;
}

h4 {
	font-size: 24px;
}

p, span, a {
	line-height: 1.5;
}

ul {
	margin-block-start: .5em;
	padding-inline-start: 18px;
}

.text-normal {
	color: var(--text-color) !important;
}

.text-white {
	color: white !important;
}

.text-primary {
	color: var(--primary) !important;
}

.text-secondary {
	color: var(--text-secondary) !important;
}

@for $i from 3 through 7 {
	.fw-#{$i}00 {
		font-weight: #{$i}00 !important;
	}
}
