h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h1 {
	font-size: $font-size-xl;
}

h2 {
	font-size: $font-size-l2;
}

h3 {
	font-size: $font-size-l;
}

p, span {
	line-height: 1.4;
}

.text-primary {
	color: var(--primary) !important;
}

.text-secondary {
	color: var(--secondary) !important;
}
