.user-select-none {
	user-select: none;
}

.cursor-pointer {
	cursor: pointer !important;
}

.cursor-default {
	cursor: default !important;
}

.clickable {
	@extend .cursor-pointer;
	@extend .user-select-none;
}

.text-overflow-3dots {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.text-center {
	text-align: center;
}
