# root dir
HELP.md
**/docker/application.yaml

# backend
**/.DS_Store
.gradle
!gradle/wrapper/gradle-wrapper.jar
.mvn
!.mvn/wrapper/maven-wrapper.jar
build/
target/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# web
**/resources/static/
**/node_modules/*
dist/
*.local

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
