:root {
	--top-bar-color: var(--html-bg-color);
}

:root.dark {
	--top-bar-bottom-border: solid 1px var(--gray-4);
}

.header {
	background: var(--top-bar-color);
	color: white;
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	display: flex;
	justify-content: center;
	border-bottom: var(--top-bar-bottom-border);
	height: $top-bar-height;
	grid-row: 1;
	position: sticky;
	top: 0;
	z-index: 4;

	.header-content {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0 $spacer-xxl;
		width: 100%;
		max-width: calc($content-max-width + $sidebar-width);

		.menu-button {
			display: none;
			user-select: none;
			font-size: $font-size-m;

			@media only screen and (max-width: $hide-sidebar-breakpoint) {
				display: block !important;
				cursor: pointer;
			}
		}

		.left-side {
			margin-left: auto;
		}
	}

	.logo-container {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 100%;
		color: white;
		position: absolute;
		left: 50%;
		transform: translate(-50%, 0);

		.logo {
			font-family: "Lobster", sans-serif;
			-webkit-user-select: none; /* Safari */
			-moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* IE10+/Edge */
			user-select: none; /* Standard */
		}
	}

	.theme-switcher-container {
		width: 12ch;
		padding-left: $spacer-m;
		padding-right: $spacer-m;

		.theme-switcher {
			@extend .clickable;
			display: flex;
			justify-content: flex-end;
			align-items: center;

			small {
				margin-right: $spacer-m;
			}
		}
	}
}
