:root {
	--card-margin: #{$spacer-xl} 0;
	--card-padding: #{$spacer-xxxl};
	--card-padding-top: calc(var(--card-padding) / 1.3);
	--card-border-radius: #{$border-radius-l};

	@media only screen and (max-width: $mobile-width-breakpoint) {
		--card-padding: #{$spacer-xl};
		--card-border-radius: #{$border-radius-m};
	}
}

.mp-card {
	margin: var(--card-margin);
	padding: var(--card-padding);
	padding-top: var(--card-padding-top);
	border-radius: var(--card-border-radius);
	background-color: var(--card-bg);
	box-shadow: var(--box-shadow);
	width: 100%;
}

.mp-card-title {
	font-size: $font-size-m;
	margin-bottom: $font-size-s;
	font-weight: 500;
	margin-top: 0;
	padding-top: 0;
}

.mp-card-subtitle {
	display: block;
	margin-top: -$spacer-xs;
	margin-bottom: -$spacer-xs;
}

.mp-card-actions {
	margin-top: $spacer-s;
	display: flex;
	justify-content: end;
}
