:root {
	--form-item-bg: var(--card-bg);
	--form-item-bg-disabled: #{$gray-5};
	--form-item-bg-focus: white;
	--select-dropdown-arrow-color: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='black' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
	--checkbox-background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.dark {
	--form-item-bg: #{$gray-5-dark};
	--form-item-bg-focus: black;
	--select-dropdown-arrow-color: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

.mp-form {
	row-gap: $spacer-xxl;
}

.mp-form-actions {
	display: flex;
	justify-content: end;
	margin-top: $spacer-m;
	gap: $spacer-m;
}

.mp-form-item-container {
	display: flex;
	flex-direction: column;
	margin-bottom: $spacer-m + $spacer-s;

	label {
		margin-bottom: $spacer-m;
		font-weight: 500;
	}

	small {
		color: var(--text-secondary);
		padding-left: $spacer-s;
		font-size: $font-size-s;
		line-height: 2.5;
	}

	&:has(.large-input) {
		margin-bottom: $spacer-xl;
	}
}

.form-col {
	padding-bottom: 8px;

	@media only screen and (max-width: $mobile-width-breakpoint) {
		height: inherit;
		margin-bottom: $spacer-m;
	}
}

.mp-form-item {
	color: var(--text-color);
	background-color: var(--form-item-bg);
	border: 1px solid var(--border-color);
	border-radius: 8px;
	caret-color: var(--primary);
	width: 100%;
	padding: $spacer-s $spacer-m;
	transition: border-color .2s, box-shadow .2s, background-color .2s;

	&:focus, &:focus-within, &:focus-visible {
		outline: 0;
		background-color: var(--form-item-bg-focus);
		border-color: var(--primary);
		box-shadow: 0 0 0 1px var(--primary);
	}

	&:disabled {
		background-color: var(--form-item-bg-disabled);
		color: var(--text-color);
		-webkit-text-fill-color: var(--text-color);
		opacity: 1;
	}
}

.large-input {
	font-size: $font-size-l2;
	border-radius: 0;
	border: 0;
	padding: $spacer-xs;
	border-bottom: solid 1px var(--border-color);
	background-color: var(--card-bg) !important;

	&:focus, &:focus-within, &:focus-visible {
		box-shadow: none;
	}
}

.mp-textarea {
	resize: none;
	overflow: hidden;
	min-height: 62px;
}

.mp-textarea-counter {
	text-align: end;
	margin-right: $spacer-xs;
	height: 0;
}

.mp-select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	background-image: var(--select-dropdown-arrow-color);
	background-repeat: no-repeat;
	background-position: right 0.75rem center;
	background-size: 16px 12px;
}

.mp-form-check-col {
	display: flex;
	flex-direction: column;
	margin-bottom: $spacer-m;
}

.mp-form-check {
	user-select: none;
	display: flex;
	align-items: center;

	* {
		cursor: pointer;
	}

	input {
		border-radius: 0.25rem;
		width: 1em;
		height: 1em;
		border: 1px solid var(--border-color);
		appearance: none;
		background-color: white;

		&:checked {
			background-image: var(--checkbox-background-image);
			background-color: var(--primary);
			border-color: var(--primary)
		}
	}

	label {
		padding-left: .5rem;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield; /* Firefox */
}

input[type=color] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: transparent;
	margin: 0;
	border: none;
	padding: 0;
	cursor: pointer;
	box-shadow: none !important;

	&:focus {
		border: none;
		box-shadow: none;
	}

	+ small {
		padding-left: 2px;
	}
}
