.progress-bar {
	position: relative;
	width: 300px;
	border: solid 1px var(--primary);
	border-radius: 8px;
	text-align: center;
	z-index: 1;
	font-size: $font-size-s;

	span {
		font-weight: 600;
		z-index: 1;
	}

	.progress-bar-inner {
		position: absolute;
		height: 100%;
		border-radius: 6px 0 0 6px;
		background: var(--linear-gradient-primary);
		margin-left: auto;
		z-index: -1;
		transition: width .2s;

		&.w-99, &.w-100 {
			border-radius: 6px;
		}
	}
}


@for $i from 0 through 100 {
	.w-#{$i} {
		width: $i * 3px;
	}
}
