@import "vue-toastification/src/scss/_variables";
@import "vue-toastification/src/scss/_toastContainer";
@import "vue-toastification/src/scss/_toast";
@import "vue-toastification/src/scss/_closeButton";
@import "vue-toastification/src/scss/_progressBar";
@import "vue-toastification/src/scss/_icon";

.#{$vt-namespace}__toast {
	min-height: 1rem;
	padding: .75rem 1rem;
}

.#{$vt-namespace}__toast--default {
	background: var(--linear-gradient-primary);
}

.#{$vt-namespace}__close-button {
	font-family: "Inter", sans-serif;
	font-weight: normal;
	color: $vt-text-color-default;
	opacity: .8;
}
